In [10]:
import numpy as np
import pandas as pd
from lightgbm import LGBMClassifier
import warnings
warnings.filterwarnings('ignore')
train  = pd.read_csv('C:/Users/kang4/OneDrive/바탕 화면/Mach-iv/competition_data/train.csv')
test  = pd.read_csv('C:/Users/kang4/OneDrive/바탕 화면/Mach-iv/competition_data/test.csv')

In [11]:
train.head()

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,engnat,age,hand,religion,orientation,voted,married,familysize,ASD,nerdiness
0,0,1.0,5.0,5.0,5.0,1.0,4.0,5.0,5.0,1.0,...,1.0,20,2.0,12.0,4.0,2.0,1.0,4.0,2.0,1
1,1,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,3.0,...,1.0,49,1.0,2.0,1.0,1.0,2.0,4.0,2.0,1
2,2,4.0,5.0,5.0,4.0,3.0,5.0,5.0,5.0,4.0,...,2.0,43,1.0,2.0,2.0,2.0,3.0,4.0,2.0,1
3,3,4.0,4.0,4.0,2.0,4.0,3.0,3.0,5.0,3.0,...,1.0,17,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1
4,4,4.0,4.0,4.0,4.0,3.0,3.0,4.0,2.0,3.0,...,2.0,18,2.0,12.0,1.0,2.0,1.0,1.0,2.0,0

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 68 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Q1            14959 non-null  float64
 1   Q2            14931 non-null  float64
 2   Q3            14950 non-null  float64
 3   Q4            14929 non-null  float64
 4   Q5            14962 non-null  float64
 5   Q6            14952 non-null  float64
 6   Q7            14924 non-null  float64
 7   Q8            14952 non-null  float64
 8   Q9            14944 non-null  float64
 9   Q10           14928 non-null  float64
 10  Q11           14941 non-null  float64
 11  Q12           14933 non-null  float64
 12  Q13           14960 non-null  float64
 13  Q14           14964 non-null  float64
 14  Q15           14955 non-null  float64
 15  Q16           14967 non-null  float64
 16  Q17           14963 non-null  float64
 17  Q18           14937 non-null  float64
 18  Q19           14947 non-null  float64
 19  Q20           14955 non-null  float64
 20  Q21           14961 non-null  float64
 21  Q22           14962 non-null  float64
 22  Q23           14950 non-null  float64
 23  Q24           14939 non-null  float64
 24  Q25           14956 non-null  float64
 25  Q26           14932 non-null  float64
 26  introelapse   15000 non-null  int64
 27  testelapse    15000 non-null  int64
 28  surveyelapse  15000 non-null  int64
 29  TIPI1         14947 non-null  float64
 30  TIPI2         14934 non-null  float64
 31  TIPI3         14921 non-null  float64
 32  TIPI4         14936 non-null  float64
 33  TIPI5         14930 non-null  float64
 34  TIPI6         14938 non-null  float64
 35  TIPI7         14936 non-null  float64
 36  TIPI8         14935 non-null  float64
 37  TIPI9         14936 non-null  float64
 38  TIPI10        14920 non-null  float64
 39  VCL1          15000 non-null  int64
 40  VCL2          15000 non-null  int64
 41  VCL3          15000 non-null  int64
 42  VCL4          15000 non-null  int64
 43  VCL5          15000 non-null  int64
 44  VCL6          15000 non-null  int64
 45  VCL7          15000 non-null  int64
 46  VCL8          15000 non-null  int64
 47  VCL9          15000 non-null  int64
 48  VCL10         15000 non-null  int64
 49  VCL11         15000 non-null  int64
 50  VCL12         15000 non-null  int64
 51  VCL13         15000 non-null  int64
 52  VCL14         15000 non-null  int64
 53  VCL15         15000 non-null  int64
 54  VCL16         15000 non-null  int64
 55  education     14833 non-null  float64
 56  urban         15000 non-null  int64
 57  gender        14981 non-null  float64
 58  engnat        14953 non-null  float64
 59  age           15000 non-null  int64
 60  hand          14953 non-null  float64
 61  religion      14755 non-null  float64
 62  orientation   14601 non-null  float64
 63  voted         14915 non-null  float64
 64  married       14918 non-null  float64
 65  familysize    14681 non-null  float64
 66  ASD           14911 non-null  float64
 67  nerdiness     15000 non-null  int64
dtypes: float64(46), int64(22)
memory usage: 7.8 MB

In [13]:
train = train.drop(['index', 'country'],axis = 1)
test =test.drop(['index', 'country'],axis = 1)

In [43]:
#train을 target과 feature로 나눠줍니다.
train_x=train.drop(['nerdiness'], axis=1)
train_y=train['nerdiness']

train_ = train.dropna(axis=0)
train__x = train_.drop(['nerdiness'],axis=1)
train__y = train_['nerdiness']

train__x.isna().sum()
# train_x2 = train_x.dropna(axis=0)
# train_x2.isna().sum()

Q1             0
Q2             0
Q3             0
Q4             0
Q5             0
              ..
orientation    0
voted          0
married        0
familysize     0
ASD            0
Length: 67, dtype: int64

In [15]:
from sklearn.tree import DecisionTreeClassifier

In [44]:
dt_clf = DecisionTreeClassifier(random_state=156)
dt_clf.fit(train__x, train__y)

DecisionTreeClassifier(random_state=156)

In [ ]:
from sklearn.metrics import accuracy_score

dt_clf.predict([[]])